language: python
sudo: true

notifications:
  email: false
python:
    - "3.6-dev"
before_install:
    - sudo add-apt-repository ppa:remik-ziemlinski/nccmp -y
    - sudo apt-get update
    - sudo apt-get install -y --allow-unauthenticated nccmp
    - pip install --upgrade pytest pytest-cov
    - pip install --upgrade coveralls
    - python setup.py install
script:
    - pytest -v --cov=wrfhydropy
after_success:
    - coveralls
