boltons>=20.2.1
bs4>=0.0.1
dask[bag]>=2.14.0
deepdiff>=6.2.3
f90nml>=1.2
netCDF4>=1.5.3
numpy==1.21.0
pandas>=1.0.3
properscoring==0.1
pytest>=5.4.1
pytest-html>=3.0.0
pytest-datadir-ng>=1.1.1
pytest-lazy-fixture>=0.6.3
requests>=2.23.0
spotpy>=1.6.0
xarray>=0.19
