pandas==0.25.3
f90nml==1.0.2
netCDF4==1.4.1
deepdiff==3.3.0
pathlib==1.0.1
xarray==0.14.1
DateTime==4.3
pytest==3.9.1
pytest-html==1.19.0
pytest-datadir-ng==1.1.0
boltons==18.0.1
bs4==0.0.1
requests==2.20.0
dask==0.19.4
